.row{
    padding: 20px;
    background-color: #302e2e;
}
.contenedor{
    width: 60%;
    color: white;
    margin-left: 33%;
}
h1,h2{
    text-align: center;
    color: white;
}
.parte1, .parte2{
    color: white;
    text-align: justify;
}
.img-proyecto1, .img-proyecto2{
    box-shadow: 5px 5px 5px #000000;
    box-shadow: ejeX ejeY difumasion color;
}
