<div class="row"></div>
<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div>
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h2>Tty over http:</h2>
                <p>Script de python que entabla una shell tty directamente desde web, configurada para maquinas de HackTheBox</p>
                <img src="../../../assets/Proyect/tty.png" class="img-fluid img-proyecto1" >
            </div>
            <div class="col-sm-12 col-md-7 col-lg-7 parte2">
                <h2>Extract ports:</h2>
                <p>Una funcion programada en bash para extraer los puertos de un escaneo de nmap guardado en grepeable.</p>
                <img src="../../../assets/Proyect/ports.png" class="img-fluid img-proyecto2" >
            </div>
        </div>
    </div>
</div>  